body {
  font-family: $font-secondary;
  font-size: 14px;

  @media screen and (min-width: $screen-tablet) {
    font-size: 30px;
  }
}

h1, h2, h3, h4, h5 {
  font-family: $font-primary;
  font-weight: 900;
}

h1 {
  font-size: 7rem;
  line-height: 1.3;
}

h2 {
  font-size: 5rem;
  line-height: 1.4;
}

h3 {
  font-size: 4rem;
  line-height: 1.3;
}

h4 {
  font-size: 3rem;
  line-height: 1.3;
}

p {
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.5;
}

b {
  font-weight: 800;
}

.thin {
  font-weight: 300;
}
