<div data-testid="control-page">
  <button phx-click="prev"><b>prev slide!</b></button>
  <span data-current-slide=<%= @current_slide %>><%= @current_slide %></span>
  <button phx-click="next"><b>next slide!</b></button>
</div>