<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "LiveDeck · Phoenix Framework" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.scss") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body class="back--2">
    <header class="header">
      <p class="header__title">Live<span class="thin">Deck</span></p>
      <p class="header__date">Jan 5th, 2020</p>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <footer class="footer">
      <p class="footer__caption footer--left">Created by Developers and Designers at Gaslight in Cincinnati, OH</p>
      <p class="footer__caption footer--right">Made With Elixir, Phoenix, and LiveView</p>
    </footer>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
