$gradient-1: linear-gradient(160deg, rgb(218,81,246), rgb(76,20,227));
$gradient-2: linear-gradient(160deg, rgb(23,233,201), rgb(16,94,237));
$gradient-3: linear-gradient(160deg, rgb(235,236,80), rgb(11,208,125));
$gradient-4: linear-gradient(160deg, rgb(241,79,239), rgb(228,13,84));
$gradient-5: linear-gradient(160deg, rgb(247,170,30), rgb(244,46,88));

#theme--live-deck {
  background-color: #1c272d;
  background: url(/images/themes/live-deck-theme/wave-background.svg);
  color: $color-4;

  h1 {
      background: linear-gradient(160deg, rgb(241,79,239), rgb(228,13,84), rgb(241,79,239));
      background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      animation: gradientBG 8s ease infinite;
  }

  h2 {
    background: $gradient-2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h3 {
    background: $gradient-3;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h4 {
    background: $gradient-5;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  ul {
    li {
      &::before {
        background: $gradient-1;
      }

      &:nth-child(2) {
        &::before {
          background: $gradient-4;
        }
      }

      &:nth-child(3) {
        &::before {
          background: $gradient-5;
        }
      }

      &:nth-child(4) {
        &::before {
          background: $gradient-3;
        }
      }

      &:nth-child(5) {
        &::before {
          background: $gradient-2;
        }
      }
    }
  }

  aside {
    background: linear-gradient(-45deg, rgb(23,233,201), rgb(16,94,237), rgb(76,20,227), rgb(218,81,246), rgb(11,208,125), rgb(235,236,80), rgb(247,170,30), rgb(244,46,88));
    background-size: 3200% 3200%;
    animation: gradientBG 35s ease infinite;

    h2, h3, h4, h5 {
      -webkit-text-fill-color: $color-3;
      color: $color-3;
    }
  }

  .header {
    &__title {
      background: $gradient-2;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &__date {
      background: $gradient-3;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .footer {
    &__caption {
      background: $gradient-2;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
