//LIVEDCK THEME
//COLOR OVERRIDES
$color-1: #060646;
$color-2: #F6E8D2;
$color-3: #F5E7C1;
$color-4: #EE2677;
$color-5: #00CEB8;
$color-6: #FeFeFe;

//FONTS OVERRIDES
$live-deck-main: 'Inter', sans-serif;

body, body.back--2, body.back--3, body.back--4, body.back--5 {
  background-color: $color-1;
  color: $color-2;
  font-family: $live-deck-main;
  font-weight: 500;
}

.slide__background {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: -webkit-fill-available;
    height: -webkit-fill-available;

    .background-color {
      fill: $color-1;
    }

    .vinyl__x {
      fill: $color-5;

      &:nth-child(3n +1) {
        stroke: $color-5;
        stroke-width: 0px;
        animation: strokePulse 5s infinite;
      }

    }
    .vinyl__circle {
      fill: $color-4;
      animation: circlePulse 5s infinite;
    }
  }
}

@keyframes strokePulse {
  0% {
    stroke: $color-5;
    stroke-width: 0px;
  }
  50% {
    stroke-width: 2px;
    stroke: $color-5;
  }
  100% {
    stroke-width: 0px;
    stroke: $color-5;
  }
}

@keyframes circlePulse {
  0% {
    fill: $color-4;
  }
  50% {
    fill: lighten($color-4, 20%);
  }
  100% {
    fill: $color-4;
  }
}

//TYPE OVERIDES
h1, h2, h3, h4, h5 {
  font-family: $live-deck-main;
  font-weight: 100;
  line-height: 1;
}

h2, h3, h4 {
  color: $color-6;
}

blockquote,
.blockquote {
  color: $color-2;
  font-weight: 600;

  &::before {
    background: $color-5;
  }
}

ul {
  li {
    &::before {
      background: $color-4;
    }
  }
}

//GLOABL DECK OVERIDES
.header {
  z-index: 50;

  &__title {
    svg {
      fill: $color-2;
    }
  }

  &__date {
    color: $color-2;
  }
}

.footer {
  z-index: 50;

  &__caption {
    color: $color-2;
  }
}

//TEMPLATE OVERIDES
aside {
  background-color: $color-4;
}

.template--split {
  aside {
    background-color: $color-5;
     p {
      color: $color-1;
    }
    h2, h3, h4, h5 {
      color: $color-6;
    }
  }
}

.template--full-image {
  img {
    filter: brightness(90%) grayscale(100%);
  }

  .template__content {
    background: transparent;
    position: relative;
    z-index: 50;

    h1, h2, h3, h4, h5 {
      color: $color-2;
      font-weight: 600;
    }
  }

  &::after {
    content: '';
    background-color: $color-1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0.8;
    background-size: 3200% 3200%;
    z-index: 20;
  }
}

.template--quote-alt {
  .blockquote__top::before {
    background-color: $color-4;
  }
}

//BACKGROUND OPTIONS
body.back--2 {
  .slide__background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: -webkit-fill-available;
      height: -webkit-fill-available;

      .background-color {
        fill: $color-1;
      }

      .vinyl__x {
        fill: $color-5;

        &:nth-child(3n +1) {
          stroke: $color-5;
          stroke-width: 0px;
          animation: strokePulse 5s infinite;
        }

      }
      .vinyl__circle {
        fill: $color-4;
        animation: circlePulse 5s infinite;
      }
    }
  }

  h1, h2, h3, h4, h5, p {
    color: $color-2;
  }

  blockquote,
  .blockquote {
    &::before {
      background-color: $color-4;
    }
  }

  aside {
    background-color: transparent;
  }

  .template--full-image {
    &::after {
      content: '';
      background-color: $color-3;
    }
  }

  .template--quote-alt {
    .blockquote__top::before {
      animation: none;
      background:  rgba($color-1, 0.1);
    }
  }

  ul {
    li {
      &::before {
        background: $color-2;
      }
    }
  }
}

body.back--3 {
  .slide__background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: -webkit-fill-available;
      height: -webkit-fill-available;

      .background-color {
        fill: $color-1;
      }

      .vinyl__x {
        fill: $color-5;

        &:nth-child(3n +1) {
          stroke: $color-5;
          stroke-width: 0px;
          animation: strokePulse 5s infinite;
        }

      }
      .vinyl__circle {
        fill: $color-4;
        animation: circlePulse 5s infinite;
      }
    }
  }

  h1, h2, h3, h4, h5 {
    color: $color-3;
  }

  blockquote,
  .blockquote {
    color: $color-3;
    &::before {
      background: $color-5;
    }
  }

  .template--split {
    aside {
      background-color: $color-1;
      h2, h3, h4, h5, p {
        color: $color-2;
      }
    }
  }

  .template--left-aside, .template--right-aside {

    aside {
      background-color: rgba($color-4, 0.9);
      color: $color-6;

      h1, h2, h3, h4, h5, p {
        color: $color-6;
      }
    }
  }
}
