<section phx-hook="BackgroundClassHook" data-background-class="<%= @background %>" data-testid="PresentationsLiveView">
  <%= Phoenix.View.render(LiveDeckWeb.SlideView, LiveDeck.Presentations.current_slide(@presentation), assigns) %>
</section>
