//FONT COLORS
.color {
  &--1 {
    color: $color-1;
  }
  &--2 {
    color: $color-2;
  }
  &--3 {
    color: $color-3;
  }
  &--4 {
    color: $color-4;
  }
}

//BACKGROUND COLORS
.section {
  &--color-1 {
    background-color: $color-1;
  }
  &--color-2 {
    background-color: $color-2;
  }
  &--color-3 {
    background-color: $color-3;
  }
  &--color-4 {
    background-color: $color-4;
  }
}


//BACKGROUND COLORS
.u-border {
  border: $border;

  &-color {
    &--1 {
      border-color: $color-1;
    }
    &--2 {
      border-color: $color-2;
    }
    &--3 {
      border-color: $color-3;
    }
    &--4 {
      border-color: $color-4;
    }
  }
}
