<section class="slide template--full-image" phx-hook="BackgroundClassHook" data-background-class="<%= @background %>">
  <img src="/images/sneaky-ryan.jpg" alt="sneaky-ryan"/>

  <div class="template__content">
    <h3>Share Deck on Multiple Devices</h3>
    <p>Live Deck is an interactive application that utilizes Phoenix and LiveView to create a rich presenation experiece.</p>
  </div>
</section>
