<section class="slide__content template--quote">
  <div class="blockquote__image">
    <img src="/js/images/rocket-dog.jpg" alt="josie" />
  </div>
  <blockquote>
    "Forget Power Point, Keynote, and Google Slides. The world needs a new shiny slide deck tool!"
    <p class="blockquote__author">Rocket Dog Best, Best Dog Ever</p>
  </blockquote>
</section>
