<section class="slide template--quote-alt" phx-hook="BackgroundClassHook" data-background-class="<%= @background %>">
  <div class="blockquote__top">
    <div class="blockquote__image">
      <img src="/images/josie.jpg" alt="josie" />
    </div>
  </div>
  <blockquote>
    "There is no other slide deck tool like LiveDeck! I know, <br />I'm a dog with plenty of presentation experience."
    <p class="blockquote__author">Josie Pohlman, Greatest Dog Ever</p>
  </blockquote>
</section>
