<section class="slide__content template--split">
  <div>
    <h3>For Developers</h3>
    <p>LiveDeck was created to fit with how developers work and to provide them with a deck thay can fully customize. </p>
  </div>
  <aside>
    <div>
      <h3>By Developers</h3>
      <p>A group of front-end and back-end developers worked together to build a presentation tool that brings joy.</p>
    </div>
  </aside>
</section>
