<section class="slide template--quote" phx-hook="BackgroundClassHook" data-background-class="<%= @background %>">
  <div class="blockquote__image">
    <img src="/images/josie.jpg" alt="josie" />
  </div>
  <blockquote>
    Forget Power Point, Keynote, and Google Slides. The world needs a new shinhy slide deck tool!
    <p class="blockquote__author">Josie Pohlman, Greatest Dog Ever</p>
  </blockquote>
</section>
