<section class="slide__content template--right-aside">
  <div>
    <h3>An Open Source Slide Deck Project That Utilizes Elixir, Phoenix, and LiveView.</h3>
  </div>
  <aside>
    <div class="aside_content">
    <div class="u-padded">
      <img src="/images/dill-orange-haired.svg" alt="Live Deck Dill" />
    </div>
    <p>github.com<br />/gaslight/<br />live_deck</p>
    </div>
  </aside>
</section>
