<section class="slide template--full-image" phx-hook="BackgroundClassHook" data-background-class="<%= @background %>">
  <img src="/images/teamgaslight.jpg" alt="sneaky-ryan"/>

  <div class="template__content">
    <h3>Originally Created by #teamgaslight </h3>
    <p>Gaslight is a custom development and UX consultant agency in Cincinnati Oh. We love building things with Elixir!</p>
  </div>
</section>
