<section class="slide__content template--quote-alt">
  <div class="blockquote__top">
    <div class="blockquote__image">
      <img src="/josie.jpg" alt="josie" />
    </div>
  </div>
  <blockquote>
    "There is no other slide deck tool like LiveDeck! I know, <br />I'm a dog with plenty of presentation experience."
    <p class="blockquote__author">Josie Pohlman, Greatest Dog Ever</p>
  </blockquote>
</section>
