<section class="slide__content template--3col">
  <div>
    <h3>Elixir</h3>
    <p>A functional web development language known for it's low-latency and fault-tolerant systems.</p>
  </div>
  <div>
    <h3>Phoenix</h3>
    <p>The web framework built on Elixir know for it's speed and maintainability.</p>
  </div>
  <div>
    <h3>LiveView</h3>
    <p>LiveView provides real-time updates from the server to the DOM allowing for LiveDeck's rich interactions.</p>
  </div>
</section>
