aside {
  align-items: center;
  background-color: $color-4;
  display: grid;
  height: auto;
  padding: 5vh $pad-lg;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 5;

  @media screen and (min-width: $screen-tablet) {
    height: 100vh;
  }
}
