blockquote,
.blockquote {
  position: relative;
  font-size: 1.3em;

  &::before {
    position: absolute;
    top: -15px;
    width: 100%;
    height: 10px;
    margin-right: $pad;
    background-color: $color-2;
    content: '';

    @media screen and (min-width: $screen-tablet) {
      top: auto;
      left: 0;
      width: 10px;
      height: 100%;
      animation: bulletIn 1s ease forwards;
      opacity: 0;
    }
  }

  &__image {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__author {
    margin-top: $pad-sm;
    font-size: $font-size-sm;
    font-weight: 300;
  }

  @media screen and (min-width: $screen-tablet) {
    padding-left: 3rem;
  }
}
