.footer {
  display: grid;
  font-size: 14px;
  grid-template-columns: repeat(2, 1fr);
  height: 5vh;
  max-height: 5vh;
  overflow: hidden;
  position: relative;
  z-index: 10;

  &__caption {
    font-weight: 400;
    line-height: 1;
  }

  &--left {
    text-align: left;
  }

  &--right {
    font-weight: 400;
    text-align: right;
  }
}
