.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 18px;

  &__title {
    font-weight: 800;
    line-height: 1;
    text-align: left;
  }

  &__date {
    font-weight: 200;
    line-height: 1;
    text-align: right;
  }
}
