.header {
  display: grid;
  font-size: 18px;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  z-index: 10;
  align-items: center;

  &__title {
    font-weight: 800;
    line-height: 1;
    text-align: left;

    img {
      height: 40px;
    }
  }

  &__date {
    font-weight: 200;
    line-height: 1;
    text-align: right;
  }
}
