.header {
  display: grid;
  font-size: 18px;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  z-index: 10;

  &__title {
    font-weight: 800;
    line-height: 1;
    text-align: left;
  }

  &__date {
    font-weight: 200;
    line-height: 1;
    text-align: right;
  }
}
