.next {
  svg {
    margin-top: 5rem;
    width: 70%;
    margin: 0 auto;
    transition: all 0.5 ease;
    transform: scale(1.0, 1.0);
  }

  &__outline {
    fill: $color-3;
    transition: all 0.5s ease;
  }

  &__eye--outline {
    fill: $color-3;
  }

  &__eye {
    fill: $color-3;
    transform: translateX(-220px) translateY(90px);
    transition: all 0.5s ease;
  }

  .eye__ball {
    d: path("M409.5 263.5c-9.1 0-16.5-7.4-16.5-16.5 0-4 1.4-7.7 3.8-10.6-2.6-.7-5.4-1.1-8.2-1.1-17.6 0-32 14.3-32 32 0 17.6 14.3 32 32 32 17.6 0 32-14.4 32-32 0-2.6-.3-5.1-.9-7.4-2.7 2.3-6.3 3.6-10.2 3.6z");
  }

  &:hover {
    .eye__ball {
      animation: wink 0.7s ease;
    }

    .next__eye {
      fill: $color-6;
      transform: translateX(0) translateY(0);
      transition: all 0.5s ease;
    }
  }

  &:focus {
    transform: scale(0.9, 0.9);
    outline: none;
    border: none;
  }

  &:active{
    .eye__ball {
      animation: none;
    }

    .next__eye {
      fill: $color-3;
      transform: translateX(0) translateY(0);
      transition: all 0.5s ease;
    }
  }
}

.menu__icon {
  fill: $color-5;
  max-width: 80px;
  margin: 0 auto;
  transition: all 0.5s ease;
  transform: scale(1.0, 1.0);

  .menu__eye-ball {

  }

  &:hover {
    cursor: pointer;
    fill: $color-6;
    transition: all 0.5s ease;
    transform: scale(0.95, 0.95);

    .menu__eye-ball {
      animation: wink2 0.2s ease;
    }
  }

  &:focus {
    transform: scale(0.95, 0.95);
    outline: none;
    border: none;
  }
}


@keyframes wink {
  0%{d: path("M409.5 263.5c-9.1 0-16.5-7.4-16.5-16.5 0-4 1.4-7.7 3.8-10.6-2.6-.7-5.4-1.1-8.2-1.1-17.6 0-32 14.3-32 32 0 17.6 14.3 32 32 32 17.6 0 32-14.4 32-32 0-2.6-.3-5.1-.9-7.4-2.7 2.3-6.3 3.6-10.2 3.6z");}
  70%{d: path("M409.5 263.5c-9.1 0-16.5-7.4-16.5-16.5 0-4 1.4-7.7 3.8-10.6-2.6-.7-5.4-1.1-8.2-1.1-17.6 0-32 14.3-32 32 0 17.6 14.3 32 32 32 17.6 0 32-14.4 32-32 0-2.6-.3-5.1-.9-7.4-2.7 2.3-6.3 3.6-10.2 3.6z");}
  85% {d: path("M409.5,268.2c-9.1,0-16.5-1.5-16.5-3.4c0-0.8,1.4-1.6,3.8-2.2c-2.6-0.1-5.4-0.2-8.2-0.2c-17.6,0-32,3-32,6.6 c0,3.6,14.3,6.6,32,6.6c17.6,0,32-3,32-6.6c0-0.5-0.3-1-0.9-1.5C417,267.9,413.4,268.2,409.5,268.2z");}
  100% {d: path("M409.5 263.5c-9.1 0-16.5-7.4-16.5-16.5 0-4 1.4-7.7 3.8-10.6-2.6-.7-5.4-1.1-8.2-1.1-17.6 0-32 14.3-32 32 0 17.6 14.3 32 32 32 17.6 0 32-14.4 32-32 0-2.6-.3-5.1-.9-7.4-2.7 2.3-6.3 3.6-10.2 3.6z");}
}

@keyframes wink2 {
  0%{d: path("M409.5 263.5c-9.1 0-16.5-7.4-16.5-16.5 0-4 1.4-7.7 3.8-10.6-2.6-.7-5.4-1.1-8.2-1.1-17.6 0-32 14.3-32 32 0 17.6 14.3 32 32 32 17.6 0 32-14.4 32-32 0-2.6-.3-5.1-.9-7.4-2.7 2.3-6.3 3.6-10.2 3.6z");}
  70%{d: path("M409.5 263.5c-9.1 0-16.5-7.4-16.5-16.5 0-4 1.4-7.7 3.8-10.6-2.6-.7-5.4-1.1-8.2-1.1-17.6 0-32 14.3-32 32 0 17.6 14.3 32 32 32 17.6 0 32-14.4 32-32 0-2.6-.3-5.1-.9-7.4-2.7 2.3-6.3 3.6-10.2 3.6z");}
  85% {d: path("M409.5,268.2c-9.1,0-16.5-1.5-16.5-3.4c0-0.8,1.4-1.6,3.8-2.2c-2.6-0.1-5.4-0.2-8.2-0.2c-17.6,0-32,3-32,6.6 c0,3.6,14.3,6.6,32,6.6c17.6,0,32-3,32-6.6c0-0.5-0.3-1-0.9-1.5C417,267.9,413.4,268.2,409.5,268.2z");}
  100% {d: inherent;}
}
