ul {
  li {
    margin-left: $pad-xs;
    margin-bottom: $pad-lg;
    font-size: 1rem;
    list-style: none;
    position: relative;
    transform: translateX(0rem);

    &::before {
      content: '';
      height: 100%;
      width: 10px;
      margin-right: $pad-xs;
      background-color: $color-2;
      opacity: 0;
      animation: bulletIn 1s ease forwards;
      position: absolute;
      left: -2rem;

      @media screen and (min-width: $screen-tablet-landscape) {
        margin-right: $pad;
        left: -3rem;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: $screen-tablet) {
      font-size: 2rem;
    }

    @media screen and (min-width: $screen-tablet-landscape) {
      margin-left: $pad-xlg;
      animation: bulletTextIn 1s ease forwards;
      transform: translateX(-4rem);
      font-size: 2rem;
    }

    @media screen and (min-width: $screen-desktop) {
      font-size: 3rem;
    }
  }
}

@keyframes bulletIn {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}

@keyframes bulletTextIn {
  0% {
    transform: translateX(-4rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
