.menu {

  &__drawer {
  	position: fixed;
    top: 0;
  	right: -100vh;
  	background-color: $color-5;
  	height: 100vh;
  	z-index: 600;
  	width: 100vw;
    align-items: center;
    overflow-y: auto;
    display: grid;

    @media screen and (min-width: $screen-desktop) {
      display: none;
    }

    &.menu--open {
      animation: slide-in 0.5s ease forwards;
    }

    &.menu--close {
      animation: slide-out 0.5s ease forwards;
    }

    nav {
      padding: $pad;
    }

    ul {
      margin: $pad-lg auto 0;
      padding: 0;
      text-align: center;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: $pad;
      justify-content: center;

      @media screen and (min-width: 700px) {
        grid-template-columns: repeat(2, 1fr);
      }


      li {
      	list-style:none;
        text-align: left;
        padding: 0;
        margin: 0 auto;

        &::before {
          display: none;
        }
      }
    }
  }

  &__close {
    position: absolute;
    top: $pad;
    right: $pad;
    color: $color-3;
  }

  @keyframes slide-in {
   from {right: -100vw;}
   to {right: 0;}
  }

  @keyframes slide-out {
   from {right: 0;}
   to {right: -100vw;}
  }
}
