.modal {
  z-index: 150;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  &__window {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    flex-direction: column;
    width: 85vw;
    height: 85vh;
    padding: $pad-sm;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 25px;
    background-color: $color-3;

    @media screen and (min-width: $screen-desktop) {
      padding: $pad-lg;
    }
  }

  &__header {

    flex-shrink: 1;
    text-align: center;

    h2 {
      -webkit-text-fill-color: unset;
      width: 100%;
      overflow: hidden;
      color: $color-5;
      font-family: $font-secondary;
      font-size: 2em;
      font-weight: 500;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__body {
    flex-grow: 1;
    margin: $pad-sm 0;
    padding: $pad-sm;
    overflow-y: auto;
    border-radius: 25px;
    background-color:  darken($color-3, 3%);

    p {
      font-size: 1.6em;
    }
  }

  &__footer {
    display: flex;
    flex-shrink: 1;
    justify-content: space-between;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($color-1, 0.7);
    content: '';
  }
}
