.thumbnail {
  -ms-zoom: 0.22;
  -moz-transform: scale(0.22);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.22);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.22);
  -webkit-transform-origin: 0 0;
  width: 1440px;
  height: 900px;

  &__track {
    width: max-content;
    overflow-x: scroll;
  }

 &__container {
   display: inline-block;
   width: calc(1440px * 0.22);
   height: calc(900px * 0.22);
   overflow: hidden;
   border-radius: 8px;
}

 &:after {
   display: block;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   content: "";
  }

  iframe {
    width: 1440px;
    height: 900px;
    border: none;
  }

  &:hover {
    cursor: pointer;
  }
}
