{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        ["prismjs", {
            "languages": ["elixir", "markdown", "javascript", "css", "html"],
            "plugins": ["line-numbers"],
            "theme": "okaidia",
            "css": true
        }]
    ]
}
