.grid {
  -ms-grid-columns: 1fr;
  grid-gap: $pad-xlg;
  display:-ms-grid;
  display: grid;
  grid-template-columns: 1fr;

  //1 COLUMNS
  &-1col {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  &-1col--md {
    @media screen and (min-width: $screen-tablet) {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
  }

  &-1col--lg {
    @media screen and (min-width: $screen-desktop) {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
  }

  //2 COLUMNS
  &-2col {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
  }

  &-2col--md {
    @media screen and (min-width: $screen-tablet) {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-2col--lg {
    @media screen and (min-width: $screen-desktop) {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  //3 COLUMNS
  &-3col {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
  }

  &-3col--md {
    @media screen and (min-width: $screen-tablet) {
      -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &-3col--lg {
    @media screen and (min-width: $screen-desktop) {
      -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  //4 COLUMNS
  &-4col {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
  }

  &-4col--md {
    @media screen and (min-width: $screen-tablet) {
      -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &-4col--lg {
    @media screen and (min-width: $screen-desktop) {
      -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
