.remote {
  display: grid;
  z-index: 500;
  position: relative;
  grid-template-rows: max-content 1fr max-content;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: $color-3;

  @media screen and (min-width: $screen-desktop) {
    grid-template-rows: max-content 1fr minmax(max-content, 250px);
    max-width: 500px;
    box-shadow: 0px 0px 55px rgba($color-1, 0.1);
  }

  &__header {
    box-sizing: border-box;
    display: grid;
    z-index: 50;
    position: relative;
    grid-template-columns: 15vw 1fr 15vw;
    align-items: center;
    width: 100vw;
    height: 10vh;
    margin-bottom: $pad-xs;
    padding: $pad-sm;
    background: $color-3;

    @media screen and (min-width: $screen-desktop) {
      grid-template-columns: auto;
      max-width: 500px;
      text-align: center;
    }
  }

  &__logo {
    img {
      max-width: none;
      max-height: 10vh;
    }

    @media screen and (min-width: $screen-desktop) {
      display: none;
    }
  }

  &__title{
    text-align: center;

    h1 {
      -webkit-text-fill-color: unset;
      color: $color-1;
      font-size: 1.5rem;
      font-weight: 400;

      @media screen and (min-width: $screen-tablet) {
        font-size: 2rem;
      }
    }

    @media screen and (min-width: $screen-desktop) {
      display: none;
    }
  }

  &__menu {
    text-align: center;

    button {
      width: 60px;

      @media screen and (min-width: $screen-tablet) {
        width: 80px;
      }
    }

    @media screen and (min-width: $screen-desktop) {
      display: none;
    }
  }

  &__body {
    text-align: center;
  }

  &__nav {
    height: auto;
    margin: $pad auto;
    font-size: 5rem;
    transition: all 0.5 ease;

    button {
      display: inline-block;
      width: 250px;
      height: 250px;
      padding: 0.3em;
      transform: scale(1.0, 1.0);
      border-radius: 50%;
      background: linear-gradient(160deg, $color-6, $color-5);
      box-shadow: 0px 0px 25px rgba(27, 61, 113, 0.05), inset 0px 0px 55px rgba(30, 33, 105, 0.45);
      transition: all 0.5s ease;

      @media screen and (min-width: $screen-tablet) {
        width: 280px;
        height: 280px;
      }

      @media screen and (max-height: 600px) {
        width: 150px;
        height: 150px;
      }

      &:hover, &:active {
        transform: scale(0.95, 0.95);
        box-shadow: 0px 0px 35px rgba(27, 61, 113, 0.33), inset 0px 0px 55px rgba(30, 33, 105, 0.65);
        cursor: pointer;
      }

      &:focus {
        transform: scale(0.9, 0.9);
        border: none;
        outline: none;
      }
    }
  }

  &__sub-nav {
    .btn {
      @media screen and (min-width: $screen-tablet) {
        min-width: 230px;
      }
    }
  }

  &__footer {
    box-sizing: border-box;
    display: grid;
    z-index: 100;
    position: relative;
    grid-template-columns: 1fr max-content 2fr max-content;
    align-items: center;
    width: 100vw;
    max-height: 10vh;
    padding: $pad-sm;
    background: $color-3;

    @media screen and (min-width: $screen-desktop) {
      grid-template-columns: auto;
      max-width: 500px;
      text-align: center;
    }
  }

  &__count {
    font-size: 2.5rem;
    text-align: center;

    .count {
      &__grid {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        width: auto;
        margin: 0 auto;
        p {
          display: inline-block;
          color: $color-6;
        }

        @media screen and (min-width: $screen-desktop) {
          width: 55px;
        }
      }

      &--curent, &--total {
        display: block;
        align-items: center;
        padding: 4px;
        border-radius: 50%;
        color: $color-5;
        font-size: 1.3rem;
        text-align: center;
      }

      &--curent {
        margin: 5px -5px 0 0;
      }

      &--total {
        margin: 18px 0 0 -5px;
      }
    }
  }

  .title {
    &--next {
      h2 {
        -webkit-text-fill-color: unset;
        margin: 0 8px $pad;
        color: $color-1;
        font-family: $font-secondary;
        font-size: 1.5rem;
        font-weight: 600;
        word-break: break-word;

        @media screen and (min-height: 700px) {
          font-size: 1.8rem;
        }
      }
    }

    &--prev {
      h3 {
        -webkit-text-fill-color: unset;
        margin-bottom: $pad;
        color: $color-1;
        font-family: $font-secondary;
        font-size: 1.2rem;
        font-weight: 600;
        word-break: break-word;

        @media screen and (min-height: 700px) {
          margin-bottom: $pad-xlg;
          font-size: 1.4rem;
        }
      }
    }
  }

  .header__count {
    display: none;

    @media screen and (min-width: $screen-desktop) {
      display: block;
    }
  }

  .footer__count {
    display: block;

    @media screen and (min-width: $screen-desktop) {
      display: none;
    }
  }
}
