//SLIDE STYLES
.slide {
  display: grid;
  z-index: 10;
  position: relative;
  grid-template-rows: 5vh minmax(90vh, auto) 5vh;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;

  @media screen and (min-width: $screen-tablet) {
    grid-template-rows: 5vh 90vh 5vh;
    overflow: hidden;
  }

&__background {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

  &__content {
    margin: $pad-xs;

    @media screen and (min-width: $screen-tablet) {
      margin: $pad-xs $pad-xlg;
    }

    p {
      line-height: 1.5;
    }
  }

  &__header, &__footer {
    box-sizing: border-box;
    padding: 0 $pad-xs;

    @media screen and (min-width: $screen-tablet) {
      padding: 0 $pad;
    }
  }

  &--current, &--next {
    text-align: center;
  }

  &__footer {
    display: grid;
    z-index: 10;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    height: 5vh;
    max-height: 5vh;
    overflow: hidden;
    font-size: 14px;

    .footer {
      &__caption {
        font-size: 0.7em;
        line-height: 1.2;

        @media screen and (min-width: $screen-tablet) {
          font-size: 1em;
          line-height: 1;
        }
      }

      &--left {
        text-align: left;
      }

      &--right {
        text-align: right;
      }
    }
  }

  &__header {
    display: grid;
    z-index: 10;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    font-size: 18px;

    .header {
      &__title {
        font-weight: 800;
        line-height: 1;
        text-align: left;

        img,svg {
          height: 40px;
        }
      }

      &__date {
        font-weight: 200;
        text-align: right;
      }
    }
  }
}
