.speaker {
  &__page {
    display: grid;
    grid-template-columns: auto 500px;
    width: 100vw;

    @media screen and (min-width: $screen-desktop) {

    }
  }

  &__container {
    display: none;
    z-index: 500;
    position: relative;
    grid-template-rows: 1fr repeat(2, max-content);
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: $color-3;

    @media screen and (min-width: $screen-desktop) {
      display: grid;
    }
  }

  &__slides {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    & > div {
      padding: $pad;
    }

    h2 {
      -webkit-text-fill-color: unset;
      margin: 0 8px $pad;
      color: $color-1;
      font-size: 1.5rem;
      font-weight: 400;
      word-break: break-word;

      @media screen and (min-height: 700px) {
        font-size: 1.8rem;
      }
    }

    .thumbnail {
      -ms-zoom: 0.25;
      -moz-transform: scale(0.25);
      -moz-transform-origin: 0 0;
      -o-transform: scale(0.25);
      -o-transform-origin: 0 0;
      -webkit-transform: scale(0.25);
      -webkit-transform-origin: 0 0;

      @media screen and (min-width: 1500px) {
        -ms-zoom: 0.35;
        -moz-transform: scale(0.35);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.35);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.35);
        -webkit-transform-origin: 0 0;
      }


      &__container {
        width: calc(1440px * 0.25);
        height: calc(900px * 0.25);
        border: solid 5px darken($color-3, 3%);
        margin: 0 auto;

        @media screen and (min-width: 1500px) {
          width: calc(1440px * 0.35);
          height: calc(900px * 0.35);
        }
      }
    }
  }

  &__notes {
    padding: $pad-lg;

    .notes {
      padding: $pad;
      border-radius: $border-radius;
      background-color:  darken($color-3, 3%);
    }
  }

  &__thumbnails {
    width: 100%;
    padding: $pad-lg $pad;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: $color-5;
  }

}
