.template {

  &--2col {
    grid-gap: $pad-lg;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: baseline;
  }

  &--3col {
    @extend .template--2col;
    grid-template-columns: repeat(3, 1fr);
  }

  &--4col {
    @extend .template--2col;
    grid-template-columns: repeat(4, 1fr);
  }

  &--split {
    @extend .template--2col;
    grid-gap: $pad-lg;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0;

    & > div {
      margin: $pad-lg;
    }

    aside {
      text-align: inherit;
    }
  }

  &--left-aside {
    @extend .template--2col;
    grid-gap: $pad-lg;
    grid-template-columns: 400px 1fr;
    align-items: center;
    margin: 0 $pad-lg 0 0;
  }

  &--right-aside {
    @extend .template--2col;
    grid-gap: $pad-lg;
    grid-template-columns: 1fr 400px;
    align-items: center;
    margin: 0 0 0 $pad-lg;
  }

  &--side-image {
    @extend .template--2col;
    grid-gap: 0;
    align-items: center;
    margin: 0;

    .copy {
      margin: 0 $pad-lg;
    }
  }

  &--full-image {
    margin: 0;
    overflow: hidden;

    .template__content {
      color: $color-3;
      padding: $pad-lg;
    }

    img {
      filter: brightness(50%);
      height: 100vh;
      object-fit: cover;
      position: absolute;
        top: 0;
      width: 100vw;
      z-index: -100;
    }
  }

  &--quote {
    display: grid;
      align-items: center;
      grid-gap: $pad;
      grid-template-columns: max-content 1fr;
    padding: $pad-lg;
  }
}
